.input-container {
    /* border: 2px red solid; */
    width: 40%;
    /* margin-right:100px;
    margin-left:100px; */
    margin-left:10px;
    height: 120px;
    text-align: left;

    /* display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */

}

.input-label{
    margin-left:15px;
    margin-top:20px;
    border: 2px greeen solid;
    color:grey;
}

.input-feild {
    width: 70%;
    text-align: left;
    height: 28px;
    margin: 15px;
    /* padding:5px; */
    /* background-color: #242424; */
    border: 1px grey solid;
    border-radius: 5px;
    color: white;

}

.input-error {
    color:red;
    margin-left:15px;
}
