.form-container {
    /* border: 2px green solid; */

    width:60%;
    margin:auto;
    display: flex;
    flex-direction: 'row';
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.signup-heading{
    color:white;
}
.select-container{
    /* border: 2px red solid; */
    width: 40%;
    /* margin-right:100px;
    margin-left:100px; */
    margin-left:10px;
    height: 120px;
    text-align: left;
}
.select-feild{
  
    width: 70%;
    height: 38px;
    padding:5px;
    margin-left:15px;
    margin-top:30px;
    border-radius: 5px;
    /* background-color: #242424;
    border: 1px grey solid; */
    border: 1px grey solid;
    color:white;
    text-align:left;
  }

.seletct-option{
    color:white;
}  
  


.button-container {
    width:40%;
    margin:100px;
    /* border-width:0px; */
    /* border:2px red solid; */
}

.checkbox-container{
    /* border:2px red solid; */
    width:100%;
    text-align: left;
}
.checkbox{
    margin-top:1px;
    margin-left:120px;
}
.tos-text{
    color:grey;
}
