
.App {
  text-align: center;
}

.bg-container {
  background-color: #5d636a;
  height: 100vh;
  width: 100%;
  display:flex;
  
}

.signup-container{
  width:70%;
  
  margin:auto;
  display: flex;
  /* border:3px red solid; */
}

.left-container {
  width: 20%;
  background-color: #131313;
  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



  /* border:3px red solid; */
}

.percentage {
  font-size: 48px;
}

.tag-line {
  
}

.right-container {
  width:80%;
  background-color: #242424;
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap:wrap;
  /* padding-left:60px; */
  line-height: 1;

}

.heading{
  color:white;
}

.invite-text{
  color:white;
  font-size:14px;
  color:grey;
}

.form{
  margin-top:40px;
}
.input-feild {
  width: 40%;
  text-align: left;
  height: 28px;
  margin:15px;
  /* padding:5px; */
  background-color: #242424;
  border: 1px grey solid;
  border-radius: 5px;
  color:white;

}

.select-feild{
  
  width: 40%;
  height: 28px;
  padding:5px;
  margin-top:10px;
  border-radius: 5px;
  background-color: #242424;
  border: 1px grey solid;
  color:white;
  text-align:left;
}

.gender-container{
  color:grey;
  font-size:14px;
  margin-top:25px;
  margin-bottom:15px;
}

.radio-option{
  height:15px;
  width:20px;

  border: 2px solid grey;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
  background-color:red;
}

.radio-option::checked{
  border:6px solid red;
}
.radio-option-label{
  margin-right:10px;
  font-size:16px;
}
.agreement{
  color:grey;
  font-size:12px;
}

.link{
  color:blue;
}

.box{
  background-color: #242424;
  border:15px white solid;
}

.submit-button{
  color:white;
  background-color: #334363;
  padding:10px;
  font-size:14px;
  border-width:0px;
  margin-top:20px;
  border-radius:5px;
}
